body {
    background: #c0c0c0;
    text-align: center;
}
#main {
    width: 1000px;
    height: 600px;
    background: #531515;
    margin: 25px auto;
    border: solid 2px #ff3819;
    padding: 10px;
}
h1 {
    text-align: center;
    font-family:"Times New Roman";
    font: 24pt;
    color: #ff3819;
}
hr {
    height: 2px;
    color: #ff3819;
}
p {
    font-family:"Calibri";
    font-size: 0pt
    text-align: right;
    text-indent: 2px;
    color: #fff500;
}
a {  
	position: relative;
    top: 620px;
	left: 0px;
    font-family: 'Arial';
    font-size: 240px;
}
var x = 20;
